.detailCont {
    padding-top: 10px;
    .backButton {
        text-decoration: none;
        font-weight: 700;
        color: #74ccf3;
        padding-left: 25px;
    }
    .productDetailsSec {
        display: flex;
        .imgCont {
            .productImage {
                width: 500px;
                height: auto;
            }
        }
        .infoCont {
            margin-left: 30px;
        }
    }
}
